:root {
  /* Fonts */
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', fantasy;

  /* Font weights */
  --font-weight-text: 400;
  --font-weight-title: 700;

  /* Colors */
  --color-accent: #ff0070;
  --color-bg: #fff;
  --color-text: #000;
  --color-border: #000;
  --color-label-stroke: #fff;

  /* Layout */
  --content-width: clamp(375px, 50vw, 700px);

  /* Heart icon */
  --contour-color: #000;
  --animation-fill-color: #ff0070;

  /* Background */
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}
